.navMenuWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	height: 100dvh;
	gap: 40px;
	padding: 0px 12px 24px 12px;
}
.menu {
	display: flex;
	width: 100%;
	padding: 20px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.navMenuList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	gap: calc((16 / 330) * 100vw);
	margin: 0 auto;
}
.navMenuItem {
	display: flex;
	align-items: center;
	gap: calc((64 / 330) * 100vw);
	width: 100%;
	height: calc((40 / 330) * 100vw);
}
.navMenuLink {
	display: flex;
	align-items: center;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(15px, calc((15 / 330) * 100vw), 40px);
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(234, 234, 234, 1);
	white-space: nowrap;
}
.fadingLine {
	width: 100%;
	height: 1px;
	background: var(--white);
}
.menuBlockCta {
	width: 100%;
	aspect-ratio: 330 / 236;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: calc((64 / 330) * 100vw);
	padding-bottom: 20px;
}
.menuBlockCtaAuthEnter {
	aspect-ratio: 330 / 76;
}
.subtitleMenu {
	width: 100%;
	height: calc((36 / 330) * 100vw);
	display: flex;
	flex-direction: row;
	align-items: center;

	color: rgba(255, 255, 255, 1);

	font-family: var(--font-family);
	font-size: clamp(13px, calc((13 / 330) * 100vw), 40px);

	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: center;
}
.blockBtn {
	width: calc(100% - 26px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.menuBtn {
	width: 100%;
	max-width: 280px;
	height: calc((40 / 330) * 100vw);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16;
	padding: 12px 48px;

	box-sizing: border-box;
	border: 1px solid rgba(234, 234, 234, 0.4);
	border-radius: 40px;
	box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	background: rgba(16, 16, 16, 0.1);

	color: rgba(234, 234, 234, 1);

	font-family: var(--second-family);
	font-size: clamp(13px, calc((13 / 330) * 100vw), 40px);
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
}
.menuBtn:hover {
	box-sizing: border-box;
	border: 1px solid rgba(242, 94, 218, 1);
	border-radius: 40px;
	box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	background: rgba(242, 94, 218, 1);
}

@media screen and (min-width: 768px) {
	.navMenuWrapper {
		padding: 0px 64px 40px 64px;
	}
	.menu {
		padding: 40px 0;
	}
	.navMenuList {
		gap: calc((24 / 768) * 100vw);
	}
	.navMenuItem {
		gap: calc((64 / 768) * 100vw);
		height: calc((40 / 768) * 100vw);
	}
	.navMenuLink {
		font-size: clamp(15px, calc((20 / 768) * 100vw), 40px);
		line-height: 24px;
	}
	.menuBlockCta {
		aspect-ratio: 768 / 272;
		gap: calc((64 / 768) * 100vw);
		padding-bottom: 40px;
	}
	.menuBlockCtaAuthEnter {
		aspect-ratio: 768 / 180;
	}
	.subtitleMenu {
		max-width: 1075px;
		font-size: clamp(15px, calc((28 / 768) * 100vw), 40px);
		height: calc((80 / 768) * 100vw);
		line-height: 180%;
	}
	.blockBtn {
		width: calc(100% - 26px);
		flex-direction: row;
		gap: 12px;
	}
	.menuBtn {
		height: calc((48 / 768) * 100vw);
		font-size: clamp(16px, calc((16 / 768) * 100vw), 40px);
	}
}

@media screen and (min-width: 1280px) {
	.navMenuList {
		gap: calc((18 / 1280) * 100vw);
	}
	.navMenuItem {
		gap: calc((64 / 1280) * 100vw);
		height: calc((40 / 1280) * 100vw);
	}
	.navMenuLink {
		font-size: clamp(15px, calc((20 / 1280) * 100vw), 20px);
	}
	.menuBlockCta {
		aspect-ratio: 1280 / 390;
		gap: calc((64 / 1280) * 100vw);
	}
	.menuBlockCtaAuthEnter {
		aspect-ratio: 1280 / 180;
	}
	.subtitleMenu {
		max-width: 1075px;
		font-size: clamp(15px, calc((40 / 1280) * 100vw), 40px);
		height: calc((96 / 1280) * 100vw);
		line-height: 180%;
	}
	.menuBtn {
		height: calc((56 / 1280) * 100vw);
		font-size: clamp(16px, calc((18 / 1280) * 100vw), 18px);
	}
}
