.heroWrapper {
	width: 100%;
	aspect-ratio: 330 / 715;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
}

.heroWrapper.lazyLoaded {
	background-image: url("/img/Hero/hero_mob_x1.webp");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
@media screen and (min-resolution: 2dppx),
	(min-resolution: 192dpi),
	(-webkit-min-device-pixel-ratio: 2) {
	.heroWrapper.lazyLoaded {
		background-image: url("/img/Hero/hero_mob_x2.webp");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.heroBlockTitle {
	height: 100%;
	width: 93%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: calc((64 / 330) * 100vw);
	margin: 0 auto;
}
.heroIcon {
	width: calc((88 / 330) * 100vw);
	aspect-ratio: 88 / 88;
	position: relative;
}
.heroTitleBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: calc((40 / 330) * 100vw);
}
.heroName {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: calc((8 / 330) * 100vw);
	width: 100%;
	aspect-ratio: 254 / 144;
}
.heroTitle {
	font-family: var(--third-family);
	font-weight: 500;
	font-size: clamp(16px, calc((48 / 330) * 100vw), 112px);
	white-space: nowrap;
	line-height: 100%;
	color: var(--background);
}
.heroSubTitle {
	font-family: var(--font-family);
	font-weight: 300;
	width: 100%;
	height: calc((36 / 330) * 100vw);
	font-size: clamp(13px, calc((13 / 330) * 100vw), 40px);
	/* white-space: nowrap; */
	line-height: 120%;
	text-align: center;
	color: var(--white);
}
.heroBtnBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
}
.btn {
	border: 1px solid rgba(234, 234, 234, 0.4);
	border-radius: 40px;
	width: 100%;
	max-width: calc((280 / 330) * 100vw);
	height: calc((40 / 330) * 100vw);
	background: rgba(16, 16, 16, 0.1);

	font-family: var(--second-family);
	font-weight: 500;
	/* font-size: 18px; */
	font-size: clamp(13px, calc((13 / 330) * 100vw), 18px);
	line-height: 180%;
	text-transform: capitalize;
	color: var(--background);
}
.btn:hover {
	border: 1px solid var(--pink);
	background: var(--pink);
}
@media screen and (min-width: 768px) {
	.heroWrapper {
		aspect-ratio: 768 / 1170;
	}
	.heroWrapper.lazyLoaded {
		background-image: url("/img/Hero/hero_tab_x1.webp");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
	@media screen and (min-resolution: 2dppx),
		(min-resolution: 192dpi),
		(-webkit-min-device-pixel-ratio: 2) {
		.heroWrapper.lazyLoaded {
			background-image: url("/img/Hero/hero_tab_x2.webp");
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.heroBlockTitle {
		width: 88%;
		gap: calc((64 / 768) * 100vw);
	}
	.heroIcon {
		width: calc((120 / 768) * 100vw);
		aspect-ratio: 120 / 120;
	}
	.heroTitleBlock {
		gap: calc((44 / 768) * 100vw);
	}
	.heroName {
		flex-direction: row;
		gap: calc((55 / 768) * 100vw);
		aspect-ratio: 680 / 120;
	}
	.heroTitle {
		font-size: clamp(16px, calc((88 / 768) * 100vw), 112px);
	}
	.heroSubTitle {
		height: calc((80 / 768) * 100vw);
		font-size: clamp(16px, calc((28 / 768) * 100vw), 40px);
	}
	.heroBtnBlock {
		flex-direction: row;
	}
	.btn {
		max-width: calc((280 / 768) * 100vw);
		height: calc((48 / 768) * 100vw);
		font-size: clamp(12px, calc((16 / 768) * 100vw), 16px);
	}
}
@media screen and (min-width: 1280px) {
	.heroWrapper {
		width: 100%;
		height: 100dvh;
	}
	.heroWrapper.lazyLoaded {
		background-image: url("/img/Hero/Hero_laptop_x1.webp");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
	@media screen and (min-resolution: 2dppx),
		(min-resolution: 192dpi),
		(-webkit-min-device-pixel-ratio: 2) {
		.heroWrapper.lazyLoaded {
			background-image: url("/img/Hero/Hero_laptop_x2.webp");
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.heroBlockTitle {
		width: 77%;
		gap: calc((55 / 1280) * 100vw);
	}
	.heroIcon {
		width: calc((120 / 1280) * 100vw);
		max-width: 120px;
	}
	.heroTitleBlock {
		max-width: 1390px;
		gap: calc((40 / 1280) * 100vw);
		margin: 0 auto;
	}
	.heroName {
		gap: 55px;
		aspect-ratio: 974 / 120;
	}
	.heroTitle {
		font-size: clamp(16px, calc((112 / 1280) * 100vw), 112px);
	}
	.heroSubTitle {
		max-width: 985px;
		height: calc((96 / 1280) * 100vw);
		font-size: clamp(16px, calc((40 / 1280) * 100vw), 40px);
	}
	.btn {
		max-width: 280px;
		height: 56px;
		font-size: clamp(12px, calc((18 / 1280) * 100vw), 18px);
	}
}

/* Example with box */
/* .heroSubTitleBox {
	aspect-ratio: 974 / 96;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background: inherit;
} */
/* .heroSubTitle {
	font-size: 3.125vw;
	transform: scale(1);
	white-space: nowrap;
} */
