.slideWrapper {
	width: 100%;
	overflow: hidden;
	/* border: 1px solid blue; */
}
.sliderContent {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	gap: clamp(24px, calc((40 / 768) * 100vw), 40px);
}
.imageWrapper {
	position: relative;
	width: 100%;
	aspect-ratio: 306 / 306;
	border-radius: 15px;
	overflow: hidden;
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sliderRewiews {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 28px;
}
.rewiewsList {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 8px;
}
.rewiewsItem {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 10px;
	padding: 20px;
	border-radius: 15px;
	max-width: 80%;

	color: rgba(244, 244, 247, 1);

	font-family: var(--font-family);
	font-size: clamp(13px, calc((15 / 768) * 100vw), 15px);
	font-weight: 500;
	line-height: 200%;
	letter-spacing: 0%;
	text-align: left;
}
.rewiews {
	align-self: flex-start;
	background: rgba(242, 94, 218, 1);
}
.answers {
	color: rgba(51, 55, 53, 1);
	align-self: flex-end;
	background: rgba(244, 244, 247, 1);
}

.nameServiceList {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}
.serviceItem {
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.name {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(16px, calc((20 / 768) * 100vw), 20px);
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0%;
	text-align: left;
}
.service {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(14px, calc((14 / 768) * 100vw), 14px);
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 0%;
	text-align: right;
}
@media screen and (min-width: 768px) {
	.imageWrapper {
		width: 100%;
		aspect-ratio: 720 / 480;
	}
}
@media screen and (min-width: 1280px) {
	.sliderContent {
		flex-direction: row;
	}
	.imageWrapper,
	.sliderRewiews {
		width: calc((100% - 40px) / 2);
	}
	.imageWrapper {
		aspect-ratio: 576 / 480;
	}
	.rewiewsList {
		width: 100%;
		aspect-ratio: 576 / calc(480 - 68);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 8px;
		overflow-y: auto;
	}
}
