.textarea {
	width: 100%;
	height: 22px;
	display: flex;
	flex-direction: row;
	align-items: center;

	color: rgba(163, 163, 163, 1);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: left;
	background: inherit;
	border: none;
}
