.slideWrapper {
	width: 100%;
	border-radius: 15px;
	background: rgba(244, 244, 247, 1);
	overflow: hidden;
	/* border: 1px solid blue; */
}
.sliderContent {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	position: relative;
}
.imgWrapper {
	width: 100%;
	aspect-ratio: 266 / 266;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow: hidden;
	position: relative;
}
.image {
	/* object-fit: contain;
	height: 100%;
	width: auto; */
	object-fit: cover; /* обрізає краї, але заповнює блок */
	object-position: center;
}
.btnArticle {
	position: absolute;
	top: 16px;
	right: 16px;
	display: flex;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	box-sizing: border-box;
	border: 1px solid rgba(234, 234, 234, 0.4);
	border-radius: 100px;
	box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background: rgba(16, 16, 16, 0.1);
	transform: scale(1);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btnArticle:hover {
	transform: scale(1.04);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.iconBtn {
	width: 12px;
	height: 12px;
	stroke: rgba(234, 234, 234, 1);
	fill: none;
}

.sliderContentDescr {
	width: calc(100% - 24px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 24px;
	gap: 12px;
}
.title {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0%;
	text-align: left;
}
.description {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 400;
	line-height: 200%;
	letter-spacing: 0%;
	text-align: left;
}
@media screen and (min-width: 768px) {
	.imgWrapper {
		width: 100%;
		aspect-ratio: 384 / 300;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		overflow: hidden;
		position: relative;
	}
	.image {
		object-fit: cover;
		object-position: center;
	}
}
