.slideWrapper {
	width: 100%;
	border-radius: 15px;
	background: rgba(244, 244, 247, 1);
	overflow: hidden;
	/* border: 1px solid blue; */
}
.sliderContent {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* gap: 24px; */
	position: relative;
	cursor: pointer;
}
.imgWrapper {
	width: 100%;
	aspect-ratio: 266 / 266;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow: hidden;
	position: relative;
}
.image {
	/* object-fit: contain;
	height: 100%;
	width: auto; */
	object-fit: cover; /* обрізає краї, але заповнює блок */
	object-position: center;
}

.sliderContentDescr {
	width: calc(100% - 24px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 24px;
	gap: 12px;
}
.title {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0%;
	text-align: left;
}
.description {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 400;
	line-height: 200%;
	letter-spacing: 0%;
	text-align: left;
}
@media screen and (min-width: 768px) {
	.imgWrapper {
		width: 100%;
		aspect-ratio: 384 / 300;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		overflow: hidden;
		position: relative;
	}
	.image {
		object-fit: cover;
		object-position: center;
	}
}
