.sectionSpecialist {
	margin: 12px 0;
}
.containerSpecialist {
	margin: 0 12px;
}
.specialistWrapper {
	width: 100%;
	max-width: 1392px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	margin: 0 auto;

	background: rgba(234, 234, 234, 1);
}
.specialistDescription,
.specialistImageBlock {
	width: 100%;
	border-radius: 10px;
}
.specialistDescription {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 64px;
	padding: 20px;
	background: rgba(244, 244, 247, 1);
}
.specialistImageBlock {
	overflow: hidden;
}
.specialistTitle {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(20px, calc((24 / 768) * 100vw), 32px);
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0%;
	text-align: left;
}
.specialistText {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(12px, calc((16 / 768) * 100vw), 18px);
	font-weight: 400;
	line-height: 180%;
	letter-spacing: 0%;
	text-align: left;
}
.image {
	width: 100%;
}

@media screen and (min-width: 768px) {
	.sectionSpecialist {
		margin: 20px 0;
	}
	.containerSpecialist {
		margin: 0 20px;
	}
	.specialistWrapper {
		gap: 24px;
	}
	.specialistDescription {
		gap: 120px;
		padding: 40px;
	}
}
@media screen and (min-width: 1280px) {
	.containerSpecialist {
		margin: 0 24px;
	}
	.specialistWrapper {
		flex-direction: row;
	}
	.specialistDescription,
	.specialistImageBlock {
		width: calc((100% - 24px) / 2);
		aspect-ratio: 604 / 632;
	}
	.specialistDescription {
		padding: 40px;
	}
	.specialistImageBlock {
		overflow: hidden;
	}

	.textBlock {
		width: 100%;
		height: 50%;
	}
}
