.wrapperComponent {
	padding: 12px 8px;
}
.sectionComponent {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 12px;
	border: 1px solid red;
}
/* .imgWrapper {
	width: 314px 728px 604px;
	height: 360px 664px 664px;
} */
.imgWrapper {
	width: 100%;
	max-width: 767px;
	aspect-ratio: 314 / 360;
	border-radius: 15px;
}
.image {
	width: 100%;
	height: 100%;
	max-height: 664px;
	object-fit: cover;
}

@media screen and (min-width: 768px) {
	.wrapperComponent {
		padding: 12px 20px;
	}
	.imgWrapper {
		width: 100%;
		max-width: 1279px;
		aspect-ratio: 728 / 664;
	}
}
@media screen and (min-width: 1280px) {
	.wrapperComponent {
		padding: 12px 24px;
	}
	.sectionComponent {
		flex-direction: row;
		height: 664px;
		gap: 24px;
	}
	.sectionComponentReverse {
		flex-direction: row-reverse;
		border: 1px solid green;
	}
	.imgWrapper,
	.servicesSection {
		width: calc(50% - 12px);
		aspect-ratio: 604 / 664;
	}
}
