.btnBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 24px 0px 24px 0px;
}
.btn {
	width: 100%;
	max-width: 280px;
	height: calc((40 / 330) * 100vw);
	max-height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16;
	/* padding: 12px 48px 12px 48px; */

	border-radius: 40px;
	background: var(--pink);

	color: rgba(234, 234, 234, 1);

	font-family: var(--second-family);
	font-size: clamp(13px, calc((16 / 330) * 100vw), 18px);
	font-weight: 500;
	line-height: clamp(22px, calc((24 / 330) * 100vw), 24px);
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
}
.btn:hover {
	color: var(--pink);
	border: 1px solid rgba(234, 234, 234, 0.4);
	border-radius: 40px;
	box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	background: rgba(16, 16, 16, 0.1);
}
@media screen and (min-width: 768px) {
	.btnBlock {
		flex-direction: row;
		gap: 12px;
		padding: 28px 0px;
	}
	.btn {
		max-width: 280px;
		height: calc((48 / 768) * 100vw);
		max-height: 56px;
	}
}
@media screen and (min-width: 1280px) {
	.btn {
		height: 56px;
		font-size: clamp(12px, calc((18 / 1280) * 100vw), 18px);
	}
}
