.btnBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 24px 0px 24px 0px;
}
.btn {
	width: 280px;
	height: clamp(40px, calc((48 / 768) * 100vw), 56px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16;
	/* padding: 12px 48px 12px 48px; */

	border-radius: 40px;
	background: var(--pink);

	color: rgba(234, 234, 234, 1);

	font-family: var(--second-family);
	font-size: clamp(13px, calc((16 / 768) * 100vw), 18px);
	font-weight: 500;
	line-height: clamp(22px, calc((24 / 768) * 100vw), 24px);
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
}
@media screen and (min-width: 768px) {
	.btnBlock {
		flex-direction: row;
		gap: 12px;
		padding: 28px 0px;
	}
}
