.accordionWrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}
.accordionList {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}
.accordionItem {
	width: 100%;
	/* min-height: 120px; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* gap: 24px; */
	padding: clamp(20px, calc((40 / 768) * 100vw), 40px);

	border-radius: 15px;
	background: rgba(244, 244, 247, 1);
}
.accordionBtn {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 24px;

	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(14px, calc((18 / 768) * 100vw), 18px);
	font-weight: 500;
	line-height: clamp(24px, calc((32 / 768) * 100vw), 40px);
	letter-spacing: 0%;
	text-align: left;
}

.iconWrapper {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
.iconAccordion {
	width: 14px;
	height: 14px;
	stroke: rgba(51, 55, 53, 1);
	transform: rotate(0deg);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.iconPurpure {
	stroke: var(--pink);
	transform: rotate(45deg);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.accordionDescription {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
		opacity 0.3s ease-in-out;
	will-change: max-height, opacity;

	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(13px, calc((18 / 768) * 100vw), 18px);
	font-weight: 400;
	line-height: clamp(20px, calc((24 / 768) * 100vw), 24px);
	letter-spacing: 0%;
	text-align: left;
}

.open {
	margin-top: 24px;
	max-height: 500px;
	opacity: 1;
}

@media screen and (min-width: 1280px) {
	.accordionWrapper {
		flex-direction: row;
		gap: 24px;
	}
	.accordionList {
		width: calc((100% - 24px) / 2);
		flex-direction: column;
		gap: 12px;
	}
}
