.articlesSwiper {
	width: 100%;
	max-width: 1392px;
	margin: 0 auto;
	/* padding: 3px; */
	/* border: 3px solid red; */
}
.sliderContainer {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 40px;
}

.swiper {
	width: 100%;
	/* height: 448px; */
	height: auto;
	/* border: 5px solid rgb(121, 187, 36); */
}

.slide {
	display: flex;
	justify-content: center;
	/* border: 5px solid green; */
}

.headBlock {
	width: 100%;
	max-width: 1392px;
	height: 56px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px clamp(8px, calc((40 / 768) * 100vw), 40px);
}
.reverseHeadBlock {
	flex-direction: row-reverse;
	padding: 0;
}
@media screen and (min-width: 768px) {
	.reverseHeadBlock {
		flex-direction: row;
		justify-content: flex-end;
		gap: 16px;
	}
}
.title {
	color: #a3a3a3;

	font-family: var(--font-family);
	font-size: clamp(20px, calc((24 / 768) * 100vw), 32px);
	font-weight: 500;
	line-height: clamp(24px, calc((40 / 768) * 100vw), 40px);
	letter-spacing: 0%;
	text-align: left;
	text-transform: uppercase;
}

.title .afterDash {
	color: #333735;
}

.paginationBlock {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 8px;
	/* width: 100px; */
	height: 48px;
}

.navButton {
	width: clamp(32px, calc((40 / 768) * 100vw), 40px);
	height: clamp(44px, calc((56 / 768) * 100vw), 56px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: clamp(8px, calc((16 / 768) * 100vw), 16px);
	padding: 4px;

	border-radius: 20px;
	background: rgba(244, 244, 247, 1);
}

.navButton_icon {
	fill: var(--pink);
	stroke: none;
	min-width: 12px;
	height: 24px;
}
.right {
	transform: rotate(180deg);
}
.navButton:hover {
	background: rgba(242, 94, 218, 1);
}
.navButton:hover .navButton_icon {
	fill: var(--white-icon);
}
