.ServicesVariantWrapper {
	width: 100%;
	max-width: 1392px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	padding: 20px;
	margin: 0 auto;

	border-radius: 15px;
	background: rgba(244, 244, 247, 1);
}
.serviceHead {
	width: 100%;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.servicesVariantTitle {
	color: rgba(242, 94, 218, 1);

	font-family: var(--font-family);
	font-size: clamp(14px, calc((20 / 768) * 100vw), 28px);
	font-weight: 500;
	line-height: clamp(24px, calc((24 / 768) * 100vw), 40px);
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
}
.servicesBtnBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
.btnWraper {
	width: clamp(32px, calc((40 / 768) * 100vw), 40px);
	height: clamp(44px, calc((56 / 768) * 100vw), 56px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 4px;

	border-radius: 20px;
	background: rgba(234, 234, 234, 1);
}
.iconClose {
	width: clamp(16px, calc((24 / 768) * 100vw), 24px);
	height: clamp(16px, calc((24 / 768) * 100vw), 24px);
	fill: var(--pink);
}
.iconEdit {
	stroke: var(--pink);
	fill: none;
}
.price {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(13px, calc((20 / 768) * 100vw), 20px);
	font-weight: 500;
	line-height: clamp(24px, calc((40 / 768) * 100vw), 40px);
	letter-spacing: 0%;
	text-align: left;
}
.description {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(13px, calc((16 / 768) * 100vw), 18px);
	font-weight: 400;
	line-height: clamp(24px, calc((40 / 768) * 100vw), 40px);
	letter-spacing: 0%;
	text-align: left;
}
.imageWrapper {
	width: 100%;
	aspect-ratio: 1152 / 564;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}
.image {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	object-fit: cover;
	width: 100%;
	display: flex;
}

@media screen and (min-width: 768px) {
	.ServicesVariantWrapper {
		display: flex;
		width: calc(100% - 32px);

		gap: 40px;
		padding: 40px;
	}
	.serviceHead {
		height: 56px;
	}
	.servicesBtnBlock {
		gap: 16px;
	}
}
@media screen and (min-width: 1280px) {
	.serviceHead {
		height: 56px;
		align-items: center;
	}
}
