.featuresWrapper {
	/* Features */
	width: 100%;
	max-width: 1392px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 24px;
	margin: 0 auto;
}
.imageBlock {
	width: 100%;
	aspect-ratio: 730 / 560;
}
.imageBlock {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 40px;
	overflow: hidden;
	border-radius: 15px;
}
.featuresImage {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	/* height: 100%; */
	z-index: -1;
}
.textTop,
.textBottom {
	color: rgba(234, 234, 234, 1);
	font-family: var(--font-family);
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: left;
}
.textTop {
	font-size: clamp(20px, calc((32 / 768) * 100vw), 40px);
}
.textBottom {
	font-size: clamp(13px, calc((18 / 768) * 100vw), 18px);
}

.procedureList {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 12px;
	border-radius: 15px;
}
.procedureItem {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	padding: 20px;

	box-sizing: border-box;
	border: 1px solid rgba(244, 244, 247, 1);
	border-radius: 15px;
	box-shadow: inset 0px 4px 80px rgba(0, 0, 0, 0.25);
	background: rgba(244, 244, 247, 1);
}
.iconBlock {
	width: clamp(40px, calc((56 / 768) * 100vw), 56px);
	height: clamp(40px, calc((56 / 768) * 100vw), 56px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconItem {
	fill: none;
	stroke: var(--pink);
}
.titleItem {
	color: rgba(51, 55, 53, 1);

	font-family: var(--second-family);
	font-size: clamp(14px, calc((18 / 768) * 100vw), 20px);
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: center;
}
.textItem {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(12px, calc((16 / 768) * 100vw), 18px);
	font-weight: 400;
	line-height: clamp(20px, calc((32 / 768) * 100vw), 32px);
	letter-spacing: 0%;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.procedureItem {
		gap: 24px;
		padding: 32px;
	}
}
@media screen and (min-width: 1280px) {
	.featuresWrapper {
		flex-direction: row;
	}
	.imageBlock,
	.procedureList {
		/* width: calc((100% - 12px) / 2); */
		width: calc(50% - 12px);
		aspect-ratio: 604 / 632;
	}
	.procedureList {
		overflow-y: auto;
	}
	.procedureItem {
		width: 100%;
		flex: 0 0 calc((100% - 12px) / 2); /* ← нове, правильне */
		/* gap: 40px; */
		padding: 32px;
	}
}
