.servicesSection,
.servicesSectionAdmin {
	background: var(--white-background);
	border-radius: 15px;
	padding: 16px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: clamp(24px, calc((40 / 1280) * 100vw), 40px);
}
.servicesHead {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 20px;
}
.servicesTitle {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(18px, calc((24 / 768) * 100vw), 28px);
	font-weight: 500;
	line-height: clamp(28px, calc((32 / 768) * 100vw), 40px);
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
}
.servicesList {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: clamp(8px, calc((16 / 1280) * 100vw), 16px);
}
.servicesItem {
	width: 100%;
	min-height: 48px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 1px solid var(--background);
	padding: 4px 0;

	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(13px, calc((18 / 768) * 100vw), 18px);
	font-weight: 500;
	line-height: clamp(24px, calc((40 / 768) * 100vw), 28px);
	letter-spacing: 0%;
	text-align: left;
}
.infoBlock {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	min-width: 96px;
	gap: clamp(4px, calc((16 / 1280) * 100vw), 16px);
}
.iconInfo {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	fill: none;
	stroke: var(--color-icon);
	transform: scale(1);
	transition: transform 500ms ease cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.iconInfo:hover {
	cursor: pointer;
	transform: scale(1.04);
	transition: transform 500ms ease cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 768px) {
	.servicesSection,
	.servicesSectionAdmin {
		padding: 40px;
	}
}
@media screen and (min-width: 1280px) {
	.servicesSection {
		width: calc(50% - 12px);
		aspect-ratio: 604 / 664;
	}
	.servicesSectionAdmin {
		width: 100%;
	}
}
