.sectionReviews {
	padding: 20px 0;
}
.containerReviews {
	padding: 0 12px;
}
@media screen and (min-width: 768px) {
	.containerReviews {
		padding: 0 24px;
	}
}
@media screen and (min-width: 1280px) {
	.containerReviews {
		padding: 0 44px;
	}
}
