.burgerMenu {
	width: calc((24 / 330) * 100vw);
	height: calc((24 / 330) * 100vw);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
}
.burgerIcon {
	width: 100%;
	height: 100%;
}
.iconOpen {
	stroke: var(--background);
}
.iconClose {
	fill: var(--background);
}
@media screen and (min-width: 768px) {
	.burgerMenu {
		width: calc((40 / 768) * 100vw);
		height: calc((40 / 768) * 100vw);
	}
}
@media screen and (min-width: 1280px) {
	.burgerMenu {
		width: calc((40 / 1280) * 100vw);
		height: calc((40 / 1280) * 100vw);
	}
}
