.burgerMenu {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
}
.burgerIcon {
	width: 100%;
	height: 100%;
}
.iconOpen {
	stroke: var(--black);
}
.iconClose {
	fill: var(--black);
}
