.headerWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 44px;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
