.headerWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px;
	width: 100%;
	/* max-width: 1920px; */
	max-width: 1440px;
	/* margin: 0 auto; */
	left: 50%;
	transform: translateX(-50%);
	/* border: 1px solid red; */
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}

.menuHead {
	position: fixed;
	top: 0;
	left: -100%;
	height: 100dvh;
	width: 100%;

	backdrop-filter: blur(10px);
	background: rgba(16, 16, 16, 0.4);
	z-index: 10;
	transition: left 1000ms ease;
}

.open {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	transform: translateX(0);
	z-index: 10;

	backdrop-filter: blur(10px);
	background: rgba(16, 16, 16, 0.4);
}
@media screen and (min-width: 768px) {
	.headerWrapper {
		padding: 40px 44px;
	}
	.relative {
		position: relative;
		padding: 40px 64px;
		border-bottom: 1px solid rgba(51, 55, 53, 0.2);
	}
}
