.aboutWrapper {
	width: 100%;
	max-width: 1312px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: clamp(24px, calc((44 / 768) * 100vw), 44px);
}
.titleAbout,
.descriptionAbout,
.titleNumber,
.number {
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
}
.titleAbout {
	color: rgba(51, 55, 53, 1);
	font-size: clamp(20px, calc((24 / 768) * 100vw), 32px);
}
.descriptionAbout {
	color: rgba(119, 119, 119, 1);
	font-size: clamp(12px, calc((16 / 768) * 100vw), 18px);
}
.aboutMore {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding-bottom: 12px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(51, 55, 53, 1);
	cursor: pointer;
	transform: scale(1);
	transition: transform 500mx cubic-bezier(0.175, 0.885, 0.32, 1.275);

	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(14px, calc((16 / 768) * 100vw), 18px);
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: left;
}
.aboutMore:hover {
	transform: scale(1.04);
	transition: transform 500mx cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.number {
	color: rgba(51, 55, 53, 1);
	font-size: clamp(24px, calc((32 / 768) * 100vw), 44px);
	font-weight: 500;
	line-height: clamp(28px, calc((39 / 768) * 100vw), 54px);
}
.titleNumber {
	color: rgba(119, 119, 119, 1);
	font-size: clamp(12px, calc((16 / 768) * 100vw), 20px);
	line-height: clamp(15px, calc((20 / 768) * 100vw), 24px);
}
.numberList {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 20px;
}
.numberItem {
	width: calc((100% - 20px) / 2);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
}
@media screen and (min-width: 768px) {
	.numberItem {
		width: 160px;
		gap: 16px;
	}
}
@media screen and (min-width: 1280px) {
	.numberItem {
		width: auto;
	}
}
