.menuLanguageList {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	gap: 12px;
	width: auto;
	height: 40px;
	/* border: 1px solid green; */
}
.menuLanguageItem {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% / 2);
	height: 100%;
	font-family: var(--font-family);
	font-weight: 300;
	font-size: clamp(12px, calc((13 / 375) * 100vw), 18px);
	line-height: 222%;
	text-align: center;
	color: var(--background);

	text-transform: uppercase;
	/* border-right: 2px solid var(--black); */
	cursor: pointer;
}

.activeLang {
	font-weight: 500;
	text-decoration: underline;
}
.separator {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: calc((14 / 375) * 100vw);
	line-height: 81%;
	text-align: right;
	color: var(--background);
}
.separator:last-child {
	display: none;
}
.darkColor {
	color: var(--color-icon);
}
@media screen and (min-width: 768px) {
	.menuLanguageItem {
		font-size: clamp(12px, calc((18 / 768) * 100vw), 18px);
	}
	.separator {
		font-size: calc((16 / 768) * 100vw);
	}
}
@media screen and (min-width: 1280px) {
	.menuLanguageItem {
		font-size: clamp(12px, calc((18 / 1280) * 100vw), 18px);
	}
	.separator {
		font-size: calc((18 / 768) * 100vw);
	}
}
