.worksSwiper {
	flex: 1; /* Займає всю ширину що залишилась */
	max-width: 100%;
}
.sliderContainer {
	width: 100%;
	/* max-width: 888px; */
	/* max-width: clamp(375px, calc((888 / 1280) * 100vw), 888px); */
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	gap: 40px;
	flex-shrink: 1;
	/* padding: 3px; */
	/* border: 1px solid blue; */
}

.swiper {
	width: 100%;
	/* height: 448px; */
	height: auto;
	/* padding: 3px; */
	/* border: 1px solid yellow; */
}

.slide {
	display: flex;
	justify-content: center;
	/* padding: 3px; */
	/* border: 1px solid green; */
}

.paginationBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: calc(8px, calc((16 / 768) * 100vw), 16px);
	width: clamp(72px, calc((96 / 768) * 100vw), 96px);
	height: clamp(44px, calc((56 / 768) * 100vw), 56px);
	/* border: 1px solid goldenrod; */
}

.navButton {
	width: clamp(32px, calc((40 / 768) * 100vw), 40px);
	height: clamp(44px, calc((56 / 768) * 100vw), 56px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: clamp(8px, calc((16 / 768) * 100vw), 16px);
	padding: 4px;
	cursor: pointer;
	z-index: 9;
	border-radius: 20px;
	background: rgba(234, 234, 234, 1);
}

.navButton_icon {
	fill: var(--pink);
	min-width: 12px;
	height: 24px;
}
.right {
	transform: rotate(180deg);
}
