.footerWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 44px;
}
.footerInfo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text {
	color: rgba(119, 119, 119, 1);

	font-family: var(--font-family);
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: left;
}
.footerBtn {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.enterBtn {
	color: rgba(119, 119, 119, 1);

	font-family: var(--font-family);
	font-size: 13px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0%;
	text-align: right;
	border: none;
	transform: scale(1);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.enterBtn:hover {
	transform: scale(1.04);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
