.footerWrapper {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 44px;
}
.footerInfo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text {
	color: rgba(119, 119, 119, 1);

	font-family: var(--font-family);
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: left;
}
.footerBtn {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}
@media screen and (min-width: 595px) {
	.footerBtn {
		flex-direction: row;
	}
}
.enterBtn {
	color: rgba(119, 119, 119, 1);

	font-family: var(--font-family);
	font-size: 13px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0%;
	text-align: right;
	white-space: nowrap;
	border: none;
	transform: scale(1);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.enterBtn:hover {
	transform: scale(1.04);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.studioLink {
	display: flex;
	gap: 8px;
	border-radius: 40px;
	box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	background: rgba(16, 16, 16, 0.1);
	padding: 4px 12px;

	justify-content: center;
	align-items: center;

	transition: transform 0.3s ease, opacity 0.3s ease;
}
.studioLinkText {
	color: rgba(119, 119, 119, 1);
	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: right;
	text-transform: uppercase;
	white-space: nowrap;
}

.studioLink:hover {
	transform: translateY(-3px);
	opacity: 0.9;
}
