.articleWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 40px;

	border-radius: 15px;
	background: rgba(244, 244, 247, 1);
}
.text {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0%;
	text-align: left;
}
.imageWrapper {
	width: 100%;
	aspect-ratio: 1152 / 600;
	overflow: hidden;
	border-radius: 15px;

	display: flex;
	align-items: center;
}
.image {
	width: 100%;
}
