.articleWrapper {
	width: 100%;
	max-width: 1392px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: clamp(24px, calc((40 / 768) * 100vw), 40px);
	padding: clamp(20px, calc((40 / 768) * 100vw), 40px);

	border-radius: 15px;
	background: rgba(244, 244, 247, 1);
}
.text {
	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(13px, calc((16 / 768) * 100vw), 18px);
	font-weight: 400;
	line-height: clamp(28px, calc((40 / 768) * 100vw), 40px);
	letter-spacing: 0%;
	text-align: left;
}
.imageWrapper {
	width: 100%;
	aspect-ratio: 266 / 266;
	overflow: hidden;
	border-radius: 15px;
	object-fit: cover;

	display: flex;
	align-items: center;
	position: relative;
}
@media screen and (min-width: 768px) {
	.imageWrapper {
		aspect-ratio: 1152 / 600;
	}
}
.image {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%; /* Обов’язково! */

	object-fit: cover;
}
