.admin {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
@media screen and (min-width: 768px) {
	.admin {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 40px;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
	}
}
