.container {
	display: flex;
	width: 100%;
	padding: 12px 8px;
	/* border: 1px solid red; */
}
/* .servicesContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 28px;
	padding: 16px;
	border: 1px solid green;
	border-radius: 15px;
	background: rgba(244, 244, 247, 1);
} */
@media screen and (min-width: 768px) {
	.container {
		padding: 0;
	}
	/* .servicesContainer {
		padding: 40px;
	} */
}
