.slideWrapper {
	width: 100%;
	overflow: hidden;
	/* border: 1px solid blue; */
}
.sliderContent {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	gap: clamp(24px, calc((40 / 768) * 100vw), 40px);
}
.imageWrapper {
	position: relative;
	width: 100%;
	aspect-ratio: 306 / 306;
	border-radius: 15px;
	overflow: hidden;
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 768px) {
	.imageWrapper {
		width: 100%;
		aspect-ratio: 306 / 360;
	}
}
@media screen and (min-width: 1280px) {
	.sliderContent {
		flex-direction: row;
	}
	.imageWrapper {
		aspect-ratio: 576 / 480;
	}
}
