.btnAllArticles {
	width: 280px;
	height: 56px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding: 12px 48px;

	box-sizing: border-box;
	border: 2px solid rgba(242, 94, 218, 1);
	border-radius: 40px;

	color: rgba(242, 94, 218, 1);

	font-family: var(--second-family);
	font-size: 16px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0%;
	text-align: left;
	text-transform: capitalize;
}
