.titleGroup {
	width: 100%;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.titleArticle {
	color: var(--pink);

	font-family: var(--font-family);
	font-size: clamp(20px, calc((24 / 768) * 100vw), 32px);
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0%;
	text-align: left;
}
.btnArticle {
	width: clamp(32px, calc((40 / 768) * 100vw), 40px);
	height: clamp(44px, calc((56 / 768) * 100vw), 56px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 4px;

	border-radius: 20px;
	background: rgba(244, 244, 247, 1);
}

.btnArticleDark {
	background: rgba(234, 234, 234, 1);
}

.iconClose {
	width: clamp(16px, calc((24 / 768) * 100vw), 24px);
	height: clamp(16px, calc((24 / 768) * 100vw), 24px);
	fill: var(--pink);
	stroke: none;
}
