.addServicesWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;

	padding: 12px;
	border: 1px solid blue;
}
.form {
	width: 100%;
	flex-direction: column;
	display: flex;
	align-items: center;
	gap: 24px;
}

.imageList {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 8px;
}
.uploadBox {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 10px;
	/* flex: 1 0 0; */
	align-self: stretch;
	border-radius: 15px;
	border: 1px dashed var(--color-icon);
	position: relative;
}
.uploadBox:hover {
	background: var(--white);
}
.uploadBox:hover .labelTitle {
	background: var(--white);
	border-radius: 10px;
}
.imgItem {
	display: flex;
	width: 100%;
	aspect-ratio: 274 / 274;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}
.imgItemUpload {
	height: 40px;
}
.imgPreview {
	width: 100%;

	object-fit: cover;
}
.deleteBtn {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	width: 89px;
	height: 44px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	transform: translate(-50%, -50%);

	border-radius: 40px;
	border: 2px solid var(--White);
	background: rgba(51, 55, 53, 0.4);
	backdrop-filter: blur(2px);
	cursor: pointer;
}
.uploadIcon {
	width: clamp(20px, calc((32 / 768) * 100vw), 32px);
	height: clamp(20px, calc((32 / 768) * 100vw), 32px);
	fill: none;
	stroke: var(--color-icon);
	transform: scale(1);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.uploadBox:hover .uploadIcon {
	transform: scale(1.4);
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.deleteIcon {
	width: 24px;
	height: 26px;
	display: flex;
	flex-shrink: 0;
	fill: var(--white);
}

.btnGroup {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 16px;
	min-height: 40px;
}

.saveBtn,
.cancelBtn {
	padding: 10px 20px;
	border-radius: 30px;
	width: 100%;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;

	color: rgba(244, 244, 247, 1);
	font-family: var(--second-family);
	font-size: clamp(14px, calc((18 / 768) * 100vw), 18px);
	font-style: normal;
	line-height: normal;
	font-weight: 500;
}

.saveBtn {
	background: rgba(242, 94, 218, 1);
	color: white;
}

.saveBtn:hover {
	background: rgb(243, 112, 221);
}

.cancelBtn {
	border: 2px solid rgba(51, 55, 53, 1);
	color: rgba(51, 55, 53, 1);
}

.cancelBtn:hover {
	background: #ccc;
}
@media screen and (min-width: 768px) {
	.addServicesWrapper {
		padding: 0px;
	}

	.btnGroup {
		min-height: 56px;
	}
	.imageList {
		flex-direction: row;
	}
	.imgItemUpload {
		display: flex;
		width: calc((100% - 8px) / 3);
		aspect-ratio: 314 / 356;
		height: auto;
	}
	.imgItemImage {
		display: flex;
		width: calc(((100% - 8px) * 2) / 3);
		aspect-ratio: 635 / 356;
	}
}
