.slideWrapper {
	width: 100%;
	overflow: hidden;
	/* border: 1px solid blue; */
}

.imageWrapper {
	position: relative;
	width: 100%;
	aspect-ratio: 48 / 48;
	border-radius: 100px;
	overflow: hidden;
	cursor: pointer;
}

.imageWrapper::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	padding: 2px;
	background: linear-gradient(135deg, #f4f4f7ff, #f25edaff);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	pointer-events: none;
	z-index: 100;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
}

@media screen and (min-width: 768px) {
	.imageWrapper {
		width: 100%;
		aspect-ratio: 60 / 60;
	}
}
@media screen and (min-width: 1280px) {
	.imageWrapper {
		aspect-ratio: 80 / 80;
		transform: scale(0.9);
		transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.imageWrapper:hover {
		transform: scale(1);
		transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
}
