.selectors {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 0 12px 20px;
}
.servicesOptionsList,
.servicesCategoryList,
.servicesLanguageList {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	row-gap: 8px;
	column-gap: 4px;
}
.servicesOptionsItem,
.servicesCategoryItem,
.servicesLanguageItem {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding: 8px 24px;

	color: rgba(51, 55, 53, 1);

	font-family: var(--font-family);
	font-size: clamp(13px, calc((16 / 1280) * 100vw), 16px);
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;

	box-sizing: border-box;
	border: 2px solid rgba(163, 163, 163, 1);
	border-radius: 60px;
}
.servicesOptionsItem {
	border: 1px solid rgba(51, 55, 53, 1);
}
.servicesCategoryList {
	flex-wrap: wrap;
}
.servicesCategoryItem {
	max-width: calc((100% - 8px) / 2);
}

@media screen and (min-width: 768px) {
	.selectors {
		padding: 0;
	}
	.servicesOptionsList,
	.servicesCategoryList,
	.servicesLanguageList {
		gap: 8px;
	}
	.servicesOptionsItem,
	.servicesCategoryItem,
	.servicesLanguageItem {
		width: 100%;
		height: 48px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 16px;
		padding: 8px 24px;

		box-sizing: border-box;
		border: 2px solid rgba(163, 163, 163, 1);
		border-radius: 60px;
	}
	.servicesOptionsItem {
		border: 1px solid rgba(51, 55, 53, 1);
	}
}
.active {
	border: 2px solid rgba(242, 94, 218, 1);
	color: rgba(242, 94, 218, 1);
}
.activeOptions {
	border: none;
	background: rgba(242, 94, 218, 1);
	color: rgba(244, 244, 247, 1);
}
